body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #312e2e;
  }
  
  canvas {
    display: block;
    margin: auto;
    border: 5px solid #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #2ecc71;
    text-align: center;
  }
  
  p {
    font-family: 'Arial', sans-serif;
    color: #34495e;
    text-align: center;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #27ae60;
  }
  